%h1 Log In

= form_tag sessions_path do
  .field
    = label_tag :email
    = text_field_tag :email, params[:email]
    %br

  .field
    = label_tag :password
    = password_field_tag :password
    %br
    = submit_tag 'Log In', :class => 'btn'

= link_to 'Back', stories_path, :class => 'btn'
