%p Stories:

- @stories.each do |story|
  %article
    #title
      %h1= link_to h(story.title), story
    #tags
      %h5= render story.tags
    .action-buttons
      = button_to 'edit', edit_story_path(story), :class => 'btn', :method => :get
      = button_to 'delete', story_path(story), :class => 'btn', :method => :delete, data: { confirm: 'Are you sure?' }
