%h3 Title:
%p= @story.title
%h3 Description:
%p= @story.description

= link_to 'Stories', stories_path, :class => 'btn'

= link_to 'Edit', edit_story_path(@story), :class => 'btn btn-warning'

= link_to 'Destroy', story_path(@story), :class => 'btn btn-danger',
						method: :delete, 
						data: { confirm: 'Are you sure?' }
