@import 'bootstrap';
ul li,
#login {
  	display: inline;
}
.navbar {
  	background-color: #d3e7e3;
}
#body {
	height: 100%;
}
#footer {
	clear: both;
  	text-align: center;
  	position: relative;
  	background-color: #7c7c7c;
}
