#wrapper {
    background-color: #C3DBE3;
    margin: 0 auto;
    width: 80%;
    min-width: 960px;
    max-width: 1200px;
    color: #000066;
}

header {
    height: 51px;
    font-size: 150%;
    background-color: #FAF173;
}

.left-col {
    float: left;
    width: 200px;
}

.right-col {
    max-width: 750px;
    float: right;
    overflow: auto;
}

main {
    width: auto;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #FAF173;
}

ul li, #login {
    a {
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
    display: inline;
}

h3 {
    margin-bottom: 0;
}

.error-message {
    margin: 0 20px;
    text-align: center;
    background-color: black;
    color: white;
    font: 3em;
}

footer {
    clear: both;
    text-align: center;
    position: relative;
    background-color: #7c7c7c;
}

.popular-tags {
    background-color: #d3e7e3;
    margin-left: 10px;
}

.b-login {
    text-align: center;
}

.b-header.stories {
    background-color: #FAF173;
    max-width: 400px;
    max-height: 300px;
    margin-left: 10px;
}

article {
    margin: 10px;
    border: dotted;
    background-color: white;
    #title, #description, #tags {
        text-align: center;
    }
    #tags {
        background-color: #d3e7e3;
    }
}

body, ul, li {
    margin-top: 0;
    padding-top: 0;
}