!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CoupleStory
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      .navbar
        %ul
          - if current_user
            %li
              = link_to 'Log Out', logout_path, :class => 'btn'
            %li
              = link_to 'Profile', user_path(current_user), :class => 'btn'
            #login
              Logged in as
              = image_tag current_user.avatar(:thumb)
              = current_user.email
          - else
            %li
              = link_to 'Sign Up', signup_path, :class => 'btn'
            %li
              = link_to 'Log In', login_path, :class => 'btn'

      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"

      = yield

    #footer
      Created by KraevRoot:
      = link_to 'https://github.com/KraevRoot', 'https://github.com/KraevRoot'
